* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Style de la page jouer.html*/
.container-jouer {
    width: 100vw;
    height: 100vh;
    background-color: rgba(240, 128, 128, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: rgba(240, 128, 128, 1);
    width: 60%;
    text-align: start;
}

.reponses {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choix {
    width: 60%;
    height: auto;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    color:  rgba(240, 128, 128, 1);
    background-color: white;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    cursor: pointer;    
    line-height: 3rem;
}

.choix:hover {
    transform:  scale3d(1, 1.1, 1.1);
}

.choix .prefix {
    width: 10%;
    background-color:rgba(240, 128, 128, 1) ;
    color: white;
    border-radius: 10px 0 0 10px ;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.choix .texte {
    width: 90%;
    padding: 0 2%;
    text-align: start;
    font-size: 1.3rem;
}

.correct {
    background-color: lime;
    color: black;
}

.incorrect {
    background-color: red;
    color: black;
}

.header-jouer {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.header-jouer .left p, .header-jouer .right p {
    color: rgba(240, 128, 128, 1) ;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.header-jouer .right h2, .header-jouer .left h2{
    background-color: rgba(240, 128, 128, 1) ;
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
}

#progression {
    width: 12rem;
    height: 2rem;
    border: 0.3rem solid rgba(240, 128, 128, 1);
}

#barre-de-progression {
    background-color: rgba(240, 128, 128, 1);
    height: 1.4rem;
    width: 0%;
}